
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100..900&display=swap');

  :root {
    --primary-color: #071d29;
    --secondary-color: #ff4747;
    --accent1-color: #579ab2;
    --accent2-color: #a8f7c4;
    --accent3-color: #edc175;
  
    --heading-font: 'Rokkitt', serif;
    --paragraph-font: 'Rokkitt', serif;
  
    --nav-link-color: #FFFFFF;
    --nav-background-color: #faba75;
    --nav-hover-link-color: #faba75;
    --nav-hover-background-color: #ffffff;
}

body {
    font-family: var(--paragraph-font);
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    /* font-optical-sizing: auto; */
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 0px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}