@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100..900&display=swap');

  :root {
     --primary-color: #446cf1;
     --secondary-color: #ff4747;
     --accent1-color: #291f12;
     --accent2-color: #a8f7c4;
     --accent3-color: #edc175;
   
     --heading-font: 'Rokkitt', serif;
     --paragraph-font: 'Rokkitt', serif;
  
     --nav-link-color: #FFFFFF;
     --nav-background-color: #faba75;
     --nav-hover-link-color: #faba75;
     --nav-hover-background-color: #ffffff;
}

body {
     margin: 0;
     padding: 0;
     max-width: 1000px; /* puedes ajustar este valor a tu gusto */
     margin: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero img {
    margin-bottom: 30px;
    margin-right: 14px;
    margin-left: 0px;
    margin-top: 32px;
}

.hero {
    position: relative;
  }

.hero h1{
    background-color: rgba(21, 25, 28, 0.486); /* a semi-transparent black background */
    color: rgb(234, 234, 234); /* white color text for contrast */
    margin-bottom: 50px;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 57px;
}

.hero h1, .hero article {
   position: absolute;
   top: 0;
   left: 0;
}

.hero article {
   background-color: rgba(11, 97, 158, 0.486); /* a semi-transparent black background  */
   color: rgb(255, 255, 255); /* white color text for contrast */
   margin-bottom: 0px;
   margin-left: 80px;
   margin-right: 90px;
   margin-top: 150px;
}

p {
    padding: 1rem;
}
  
.hero article img {
   float: right;
}

h2 {
    font-family: var(--heading-font);
    /* font-optical-sizing: auto; */
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: var(--primary-color);
}
